body {
    font-family: 'futura-pt', sans-serif;
    margin: 0;
    padding: 0;
    background-color: black;
    color: rgb(230, 230, 230);
    text-align: left; /* Left-align text */
    overflow-x: hidden; /* Prevent horizontal scrolling */
}

.background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('https://snafucontent.s3.amazonaws.com/images/background.png') no-repeat center center;
    background-size: cover;
    z-index: -1;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
}

.home-button {
    width: 5vw;
    position: absolute;
    top: 1.75vh; /* Adjust the top position as needed */
    left: 1.2vw; /* Adjust the left position as needed */
    z-index: 3;
}

.history-title {
    font-size: 3vw;
    text-align: center;
    margin: 10px 0;
    letter-spacing: 0.1em;
}

.gothic-font {
    font-family: 'franklin-gothic-atf', sans-serif;
    font-size: 1.25em;
    font-weight: 700;
}

.history-title2 {
    font-size: 1vw;
    text-align: center;
    margin: 0px 0;
    font-family: 'ltc-flash', sans-serif;
    letter-spacing: 0.1em;
}

.links-of2 {
    font-size: 1.5vw;
    text-align: center;
    font-style: italic;
    font-weight: 400;
    margin-top: 10px;
    margin-bottom: 1%;
}

.links-main-title {
    font-size: 3vw;
    text-align: center;
    margin: 0px 0;
    font-family: 'futura-pt', sans-serif;
    font-weight: 600;
    letter-spacing: 0.1em;
}

.flash-font {
    font-family: 'ltc-flash', sans-serif;
}

.gallery-content {
    width: 90%;
    max-width: 1200px;
    margin-top: 1vh;
}

.gallery-grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 10px;
    margin: 20px 0;
}

.gallery-image {
    width: 100%;
    object-fit: cover;
}

/* Mobile-specific styles */
@media (max-width: 600px) {
    .gallery-image {
        width: 100%; /* Ensure images fit within the grid cells */
    }

    .gallery-grid {
        display: grid;
        grid-template-columns: repeat(3, 1fr); /* Three columns layout */
        gap: 10px; /* Adjust the gap as needed */
    }

    .home-button {
        width: 12vw;
        top: 10px; /* Adjusted position for better visibility on mobile */
        left: 10px; /* Adjusted position for better visibility on mobile */
    }

    .history-title {
        font-size: 5vw;
    }

    .gothic-font {
        font-size: 6vw;
    }

    .history-title2 {
        font-size: 3vw;
        margin-top: 10px;
    }

    .links-of2 {
        font-size: 4vw;
    }

    .links-main-title {
        font-size: 5vw;
    }
}
