body {
    font-family: 'futura-pt', sans-serif;
    margin: 0;
    padding: 0;
    background-color: black;
    color: white;
    overflow-x: hidden; /* Prevent horizontal scrolling */
}

.background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('https://snafucontent.s3.amazonaws.com/images/background.png') no-repeat center center;
    background-size: cover;
    z-index: -1;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%; /* Ensure the container takes up the full height */
    position: relative;
}

.home-button {
    width: 5vw;
    position: absolute;
    top: 1.75vh; /* Adjust the top position as needed */
    left: 1.2vw; /* Adjust the left position as needed */
    z-index: 3;
}

.history-title {
    font-size: 3vw;
    text-align: center;
    margin: 10px 0;
    letter-spacing: 0.1em;
    
}

.gothic-font {
    font-family: 'franklin-gothic-atf', sans-serif;
    font-size: 1.5em;
    font-weight: 700;
}

.history-title2 {
    font-size: 1vw;
    text-align: center;
    font-family: 'ltc-flash', sans-serif;
    letter-spacing: 0.1em;
    margin-top: 2vh;
    
}

.links-of2 {
    font-size: 1.5vw;
    text-align: center;
    font-style: italic;
    font-weight: 400;
    margin-top: 10px;
    margin-bottom: 1%;
    
}

.links-main-title {
    font-size: 3vw;
    text-align: center;
    margin: 0px 0;
    font-family: 'futura-pt', sans-serif;
    font-weight: 600;
    letter-spacing: 0.1em;
    
}

.flash-font {
    font-family: 'ltc-flash', sans-serif;
    font-size: 1.5em;
}

.svg-container {
    position: absolute;
    top: 0;
    width: 62%;
    display: flex;
    justify-content: center;
    z-index: 2;
}

.plan-svg {
    width: 95vw;
    max-width: 1000px;
    margin-top: 0.5vw;
    margin-left: 2vw;
    margin-right: 2vw;
    margin-bottom: 100px;
}

.gif-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    width: 60%;
    max-width: 1200px;
    position: relative;
    z-index: 1;
    margin-top: 2vw; /* Start at the top */
    margin-left: 2vw;
    margin-right: 2vw;
}

.gif {
    width: 100%;
    height: auto;
}

/* Mobile-specific styles */
@media (max-width: 600px) {
    .history-title2 {
        font-size: 2vw;
        margin-top: 3vw;
    }
    
    .links-of2 {
        font-size: 4vw;
        margin-top: 0px;
        margin-bottom: 3%;
    }
    
    .links-main-title {
        font-size: 5vw;
        margin-bottom: 20px;
    }
    
    .history-title {
        font-size: 5vw;
        margin-top: 10px;
    }

    .gif-grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 10px;
        width: 90%;
        margin: 0 auto;
        margin-bottom: 20px;
    }

    .gif {
        width: 100%;
        height: auto;
    }

    .home-button {
        width: 12vw;
        margin-top: -10px;
        margin-left: 3px;
    }

    .play-button {
        margin-top: -8px;
        font-size: 5vw;
    }

    .flash-font {
        font-size: 1.5em;
    }

    .svg-container {
        width: 85%;
        display: flex;
        justify-content: center;
    }

    .plan-svg {
        width: 90vw; /* Adjust this value as needed */
        max-width: none; /* Remove the max-width restriction */
        margin-top: 2vw; /* Adjust the margin as needed */
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 20px; /* Adjust the bottom margin as needed */
    }
}
