body {
    font-family: 'futura-pt', sans-serif;
    margin: 0;
    padding: 0;
    background-color: black;
    color: white;
    overflow-x: hidden; /* Prevent horizontal scrolling */
}

.background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('images/background.png') no-repeat center center;
    background-size: cover;
    z-index: -1;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%; /* Ensure the container takes up the full height */
    position: relative;
}

.home-button {
    width: 5vw;
    position: absolute;
    top: 1.75vh; /* Adjust the top position as needed */
    left: 1.2vw; /* Adjust the left position as needed */
    z-index: 3;
}

.secret-title {
    font-size: 1.5vw;
    text-align: center;
    margin: 10px 0; /* Reduced margin to bring it closer to the top */
    font-family: 'ltc-flash', sans-serif;
    letter-spacing: 0.1em;
    
}

.secret-content {
    width: 90%;
    max-width: 1200px;
    margin-top: 1%;
    text-align: center;
}

.secret-subtitle {
    font-size: 3vw;
    font-weight: 700;
    text-decoration: line-through;
    margin: 10px 0; /* Reduced margin to bring it closer to the top */
    
}

.secret-text {
    font-size: 1.5vw;
    line-height: 2;
    text-align: left;
    margin: 10px 0; /* Reduced margin to bring it closer to the top */
    
}

.secret-image {
    width: 10%;
    height: auto;
    margin-top: 20px;
}
